Repository wspieramprzyrode/app, changes with the labels that .github/labeler.yml gives for each.
All labels: terraform, ui, documentation

.github/labeler.yml:

terraform:
  - terraform/**/*
ui:
  - ui/**/*
documentation:
  - docusaurus/**/*

add licence to ambassador
  .gitignore
  terraform/helm.tf
  terraform/vars.tf
Labels: terraform

typo
  terraform/vars.tf
Labels: terraform

add knative servingsupport env in ambassador
  terraform/helm-configs/ambassador.yaml
Labels: terraform

add doc
  docusaurus/docs/infrastructure.md
Labels: documentation

add crowdin secret to github
  terraform/github.tf
  terraform/vars.tf
Labels: terraform

deploy: 432a4dc27bb9e98628b4e8fb4e2d05b97298f934
  docs/en/infrastructure.html
  docs/en/infrastructure/index.html
  docs/pl/infrastructure.html
  docs/pl/infrastructure/index.html
Labels: none

close #7 add ui bootstrap
  .github/workflows/ui_test.yaml
  docusaurus/docs/ui.md
  ui/.gitignore
  ui/Dockerfile
  ui/components/footer.tsx
  ui/components/header.tsx
  ui/components/layout.tsx
  ui/components/material-link.tsx
  ui/jest.config.js
  ui/lib/theme.tsx
  ui/next-env.d.ts
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.tsx
  ui/pages/_document.tsx
  ui/pages/index.tsx
  ui/pages/projects.tsx
  ui/public/favicon.ico
  ui/tests/setupTests.ts
  ui/tsconfig.jest.json
  ui/tsconfig.json
Labels: ui, documentation

close #8 add sonarcloud support
  .github/workflows/sonarcloud.yaml
  sonar-project.properties
Labels: none

add documentation pages
  docusaurus/docs/tools.md
  docusaurus/website/siteConfig.js
Labels: documentation

deploy: 77ef66fb119d6d09a06abeb62ee15e5a90e994cf
  docs/en/cicd.html
  docs/en/cicd/index.html
  docs/en/infrastructure.html
  docs/en/infrastructure/index.html
  docs/en/tools.html
  docs/en/tools/index.html
  docs/en/ui.html
  docs/en/ui/index.html
  docs/pl/cicd.html
  docs/pl/cicd/index.html
  docs/pl/infrastructure.html
  docs/pl/infrastructure/index.html
  docs/pl/tools.html
  docs/pl/tools/index.html
  docs/pl/ui.html
  docs/pl/ui/index.html
  docs/tools.html
  docs/tools/index.html
  docs/ui.html
  docs/ui/index.html
  en/help.html
  en/help/index.html
  en/index.html
  en/users.html
  en/users/index.html
  help.html
  help/index.html
  index.html
  pl/help.html
  pl/help/index.html
  pl/index.html
  pl/users.html
  pl/users/index.html
  sitemap.xml
  users.html
  users/index.html
Labels: none

remove unnesesery files (automatic check)
  .github/workflows/sonarcloud.yaml
  sonar-project.properties
Labels: none

add badge
  README.md
Labels: none
