Repository wspieramprzyrode/app, pull requests merged in 2020-06, with the labels that each got.

#25 Translations improvements + small typo fixes
  Taskfile.yml
  docusaurus/docs/cicd.md
  docusaurus/docs/index.md
  docusaurus/docs/infrastructure.md
  docusaurus/docs/inventory_service.md
  docusaurus/docs/kubernetes.md
  docusaurus/docs/terraform.md
  docusaurus/docs/ui.md
  docusaurus/docs/web.md
  oas3.yaml
  terraform/google.tf
  terraform/helm/chart/templates/certmanager/letsencrypt_staging_cluster_issuer.yaml
  terraform/helm/chart/values.yaml
  ui/Dockerfile
Labels: documentation, terraform, ui

#31 upgrade ambassador
  .github/workflows/terraform.yaml
  terraform/helm.tf
  terraform/init.tf
Labels: terraform

#17 inventory service and deployment
  .editorconfig
  .github/labeler.yml
  .github/workflows/documentation.yaml
  .github/workflows/inventory_service.yaml
  .github/workflows/ui_test.yaml
  chart/.helmignore
  chart/Chart.yaml
  chart/charts/inventory/.helmignore
  chart/charts/inventory/Chart.yaml
  chart/charts/inventory/templates/NOTES.txt
  chart/charts/inventory/templates/_helpers.tpl
  chart/charts/inventory/templates/ambassador.yaml
  chart/charts/inventory/templates/deployment.yaml
  chart/charts/inventory/templates/hpa.yaml
  chart/charts/inventory/templates/ingress.yaml
  chart/charts/inventory/templates/service.yaml
  chart/charts/inventory/templates/serviceaccount.yaml
  chart/charts/inventory/values.yaml
  chart/templates/_helpers.tpl
  chart/templates/ambassador.yaml
  chart/templates/certificate.yaml
  chart/values.yaml
  deploy-dev.yaml
  docusaurus/docs/inventory_service.md
  docusaurus/docs/ui.md
  inventory/Dockerfile
  inventory/category/api.go
  inventory/category/datastore.go
  inventory/category/handlers.go
  inventory/category/structs.go
  inventory/datastore/client.go
  inventory/datastore/firebase.go
  inventory/go.mod
  inventory/go.sum
  inventory/main.go
  inventory/objects/api.go
  inventory/objects/datastore.go
  inventory/objects/handlers.go
  inventory/objects/structs.go
  oas3.yaml
Labels: documentation, helm-chart, inventory-service
